<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Image Generator</title>
    <link rel="stylesheet" href="../../static/css/ImageSpecialist.css">
    <script src="../../static/js/ImageSpecialist.js"></script>
</head>

<body>
    <h1>Image Generator</h1>
    <form id="generate-image-form">
        <label for="image-prompt">Enter an image prompt:</label><br>
        <input type="text" id="image-prompt" name="image-prompt"><br>
        <input type="submit" value="Generate Image">
    </form>

    <div id="generated-image">
        <!-- The generated image will be displayed here -->
    </div>
</body>

</html>