<!DOCTYPE html>
<html>
  <head>
    <title>Record Audio</title>
    <link rel="stylesheet" href="../../static/css/record-audio.css">
  </head>
  <body>
    <h1>Record Audio</h1>
    <form>
      <button type="button" id="record-btn">Start Recording</button>
      <button type="button" id="play-btn">Play Recording</button>
      <button type="button" id="transcribe-btn">Transcribe</button>
      <a id="download-btn" style="display:none">Download MP3</a>
      <input type="hidden" id="audio-input" name="audio-input">
      <p id="timer">00:00</p>
    </form>
    <script src="../../static/js/record-audioMP3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lamejs@1.2.0/lame.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
