<!DOCTYPE html>
<html>

<head>
	<title>OpenAI Chatbot</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/ImageSpecialist.css" />
	<!-- <link rel="stylesheet" type="text/css" href="/css/ImageSpecialist.css" /> -->
	<script src="../../static/js/googleSpeechForAgents.js"></script>
	<!-- <script src="/js/googleSpeechForAgents.js"></script> -->


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<style>
		/* Profile photo that floats top right*/
		.profile-photo {
			background-image: url('https://th.bing.com/th/id/R.a7bac897743494088a6cc57146d133fa?rik=wQGfHh%2bnxJ0R7w&pid=ImgRaw&r=0');
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="container">
			<!-- New HTML code for specialist fields -->
			<div class="specialist-fields">
				<h2>Specialist Information</h2>
				<div class="specialist-row">
					<span class="specialist-label">Name:</span>
					<span class="specialist-value"> Sherlock Holmes</span>
				</div>
				<div class="specialist-row">
					<span class="specialist-label">Fields:</span>
					<span class="specialist-value">  </span>
				</div>
				<div class="specialist-row">
					<span class="specialist-label">Experience:</span>
					<span class="specialist-value">  </span>
				</div>
				<div class="specialist-row">
					<span class="specialist-label">Availability:</span>
					<span class="specialist-value">Online</span>
				</div>
				<div class="specialist-row">
					<span class="specialist-label">Speciality:</span>
					<span class="specialist-value">  </span>
				</div>
			</div>
			<!-- End of specialist fields -->

			<!-- Profile photo that floats in the top right corner on the same line as openAI chatbot -->
			<div class="profile-photo"></div>

			<div class="chat-window" id="chat-window">
				<div class="chat-message">
					<div class="bot-message">
						<p></p>
					</div>
				</div>
			</div>

			<div class="chat-input">
				<form id="chat-form">
					<textarea placeholder="Type your message here" id="chat-input" rows="1"></textarea>
					<button id="chat-submit">Send</button>
				</form>
				<i id="mic-icon" class="fas fa-microphone mic-icon"></i>
			</div>


		</div>

		<script>
			const chatWindow = document.getElementById('chat-window');
			const chatInput = document.getElementById('chat-input');
			const chatSubmit = document.getElementById('chat-submit');
			const chatForm = document.getElementById('chat-form');

			let counter = 0;

			chatForm.addEventListener('submit', async function (event) {
				event.preventDefault();
				const message = chatInput.value;
				if (message.trim() === '') return;
				appendMessage('user', message);

				const response = await sendChatMessage(message, counter);

				if (!response.ok) {
					console.error(`Error: ${response.status} - ${response.statusText}`);
					return;
				}

				const data = await response.json();
				console.log(data);
				appendMessage('bot', data.content);
				chatInput.value = '';
				counter++;
			});

			function appendMessage(sender, message) {
				const messageDiv = document.createElement('div');
				messageDiv.classList.add('chat-message');
				messageDiv.innerHTML = `
  				 <div class="${sender}-message">
  				     <p>${message}</p>
  				 </div>`;
				chatWindow.appendChild(messageDiv);
				chatWindow.scrollTop = chatWindow.scrollHeight;
			}

			const textarea = document.getElementById('chat-input');

			textarea.addEventListener('input', autoResize);

			function autoResize() {
				this.style.height = 'auto';
				this.style.height = this.scrollHeight + 'px';
			}

			autoResize.call(textarea);

			async function sendChatMessage(message, counter) {
				let requestBody = {};

				if (counter === 0) {
					requestBody = { message };
				} else {
					let allMessages = '';
					const chatMessages = chatWindow.querySelectorAll('.chat-message');
					chatMessages.forEach(function (chatMessage, index) {
						const messageText = chatMessage.querySelector('p').textContent;
						let sender = '';
						const childDiv = chatMessage.querySelector('div');
						if (childDiv.classList.contains('bot-message')) {
							sender = index === 0 ? 'Sherlock' : 'Sherlock';
						} else if (childDiv.classList.contains('user-message')) {
							sender = 'User';
						}
						allMessages += `${sender}: ${messageText}\n`;
					});

					requestBody = { message: allMessages };
				}


				console.log(requestBody);
				return await fetch('https://us-central1-api-project-1058745121639.cloudfunctions.net/special/sherlock2', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'Accept': 'application/json',
						'Content-Type': 'application/json',
						'Access-Control-Allow-Origin': '*'
					},
					body: JSON.stringify(requestBody)
				});
			}


		</script>




</body>

</html>