<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<P>{
    "cropHintsAnnotation": {
    "cropHints": [
    {
    "boundingPoly": {
    "vertices": [
    {
    "x": 864
    },
    {
    "x": 1697
    },
    {
    "x": 1697,
    "y": 1041
    },
    {
    "x": 864,
    "y": 1041
    }
    ]
    },
    "confidence": 0.09375,
    "importanceFraction": 0.6946667
    },
    {
    "boundingPoly": {
    "vertices": [
    {
    "x": 768
    },
    {
    "x": 1810
    },
    {
    "x": 1810,
    "y": 1041
    },
    {
    "x": 768,
    "y": 1041
    }
    ]
    },
    "confidence": 0.09375,
    "importanceFraction": 0.8683333
    },
    {
    "boundingPoly": {
    "vertices": [
    {
    "x": 669
    },
    {
    "x": 1919
    },
    {
    "x": 1919,
    "y": 1041
    },
    {
    "x": 669,
    "y": 1041
    }
    ]
    },
    "confidence": 0.08997121,
    "importanceFraction": 1
    }
    ]
    },
    "fullTextAnnotation": {
    "pages": [
    {
    "blocks": [
    {
    "blockType": "TEXT",
    "boundingBox": {
    "vertices": [
    {
    "x": 14,
    "y": 60
    },
    {
    "x": 61,
    "y": 60
    },
    {
    "x": 61,
    "y": 85
    },
    {
    "x": 14,
    "y": 85
    }
    ]
    },
    "confidence": 0.9647192,
    "paragraphs": [
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 14,
    "y": 60
    },
    {
    "x": 61,
    "y": 60
    },
    {
    "x": 61,
    "y": 85
    },
    {
    "x": 14,
    "y": 85
    }
    ]
    },
    "confidence": 0.9647192,
    "words": [
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 14,
    "y": 60
    },
    {
    "x": 34,
    "y": 60
    },
    {
    "x": 34,
    "y": 69
    },
    {
    "x": 14,
    "y": 69
    }
    ]
    },
    "confidence": 0.98261964,
    "property": {
    "detectedLanguages": [
    {
    "confidence": 1,
    "languageCode": "en"
    }
    ]
    },
    "symbols": [
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 14,
    "y": 61
    },
    {
    "x": 21,
    "y": 61
    },
    {
    "x": 21,
    "y": 69
    },
    {
    "x": 14,
    "y": 69
    }
    ]
    },
    "confidence": 0.96075416,
    "text": "T"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 18,
    "y": 60
    },
    {
    "x": 25,
    "y": 60
    },
    {
    "x": 25,
    "y": 68
    },
    {
    "x": 18,
    "y": 68
    }
    ]
    },
    "confidence": 0.9831909,
    "text": "h"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 25,
    "y": 60
    },
    {
    "x": 28,
    "y": 60
    },
    {
    "x": 28,
    "y": 68
    },
    {
    "x": 25,
    "y": 68
    }
    ]
    },
    "confidence": 0.9947825,
    "text": "i"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 28,
    "y": 60
    },
    {
    "x": 34,
    "y": 60
    },
    {
    "x": 34,
    "y": 68
    },
    {
    "x": 28,
    "y": 68
    }
    ]
    },
    "confidence": 0.9917511,
    "property": {
    "detectedBreak": {
    "type": "SPACE"
    }
    },
    "text": "s"
    }
    ]
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 36,
    "y": 60
    },
    {
    "x": 52,
    "y": 60
    },
    {
    "x": 52,
    "y": 68
    },
    {
    "x": 36,
    "y": 68
    }
    ]
    },
    "confidence": 0.89461035,
    "property": {
    "detectedLanguages": [
    {
    "confidence": 1,
    "languageCode": "en"
    }
    ]
    },
    "symbols": [
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 36,
    "y": 60
    },
    {
    "x": 42,
    "y": 60
    },
    {
    "x": 42,
    "y": 68
    },
    {
    "x": 36,
    "y": 68
    }
    ]
    },
    "confidence": 0.923571,
    "text": "P"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 44,
    "y": 60
    },
    {
    "x": 52,
    "y": 60
    },
    {
    "x": 52,
    "y": 68
    },
    {
    "x": 44,
    "y": 68
    }
    ]
    },
    "confidence": 0.9177466,
    "property": {
    "detectedBreak": {
    "type": "HYPHEN"
    }
    },
    "text": "C"
    }
    ]
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 14,
    "y": 75
    },
    {
    "x": 59,
    "y": 75
    },
    {
    "x": 59,
    "y": 85
    },
    {
    "x": 14,
    "y": 85
    }
    ]
    },
    "confidence": 0.9820598,
    "property": {
    "detectedLanguages": [
    {
    "confidence": 1,
    "languageCode": "en"
    }
    ]
    },
    "symbols": [
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 14,
    "y": 76
    },
    {
    "x": 20,
    "y": 76
    },
    {
    "x": 20,
    "y": 85
    },
    {
    "x": 14,
    "y": 85
    }
    ]
    },
    "confidence": 0.9523319,
    "text": "S"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 20,
    "y": 75
    },
    {
    "x": 26,
    "y": 75
    },
    {
    "x": 26,
    "y": 84
    },
    {
    "x": 20,
    "y": 84
    }
    ]
    },
    "confidence": 0.96973073,
    "text": "h"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 27,
    "y": 75
    },
    {
    "x": 33,
    "y": 75
    },
    {
    "x": 33,
    "y": 84
    },
    {
    "x": 27,
    "y": 84
    }
    ]
    },
    "confidence": 0.99132615,
    "text": "o"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 34,
    "y": 75
    },
    {
    "x": 39,
    "y": 75
    },
    {
    "x": 39,
    "y": 84
    },
    {
    "x": 34,
    "y": 84
    }
    ]
    },
    "confidence": 0.99093515,
    "text": "r"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 36,
    "y": 75
    },
    {
    "x": 41,
    "y": 75
    },
    {
    "x": 41,
    "y": 84
    },
    {
    "x": 36,
    "y": 84
    }
    ]
    },
    "confidence": 0.9952842,
    "text": "t"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 42,
    "y": 75
    },
    {
    "x": 47,
    "y": 75
    },
    {
    "x": 47,
    "y": 84
    },
    {
    "x": 42,
    "y": 84
    }
    ]
    },
    "confidence": 0.9870655,
    "text": "c"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 48,
    "y": 75
    },
    {
    "x": 54,
    "y": 75
    },
    {
    "x": 54,
    "y": 84
    },
    {
    "x": 48,
    "y": 84
    }
    ]
    },
    "confidence": 0.9886627,
    "text": "u"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 54,
    "y": 75
    },
    {
    "x": 59,
    "y": 75
    },
    {
    "x": 59,
    "y": 84
    },
    {
    "x": 54,
    "y": 84
    }
    ]
    },
    "confidence": 0.98114187,
    "property": {
    "detectedBreak": {
    "type": "LINE_BREAK"
    }
    },
    "text": "t"
    }
    ]
    }
    ]
    }
    ]
    },
    {
    "blockType": "TEXT",
    "boundingBox": {
    "vertices": [
    {
    "x": 8,
    "y": 162
    },
    {
    "x": 67,
    "y": 162
    },
    {
    "x": 67,
    "y": 173
    },
    {
    "x": 8,
    "y": 173
    }
    ]
    },
    "confidence": 0.98376536,
    "paragraphs": [
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 8,
    "y": 162
    },
    {
    "x": 67,
    "y": 162
    },
    {
    "x": 67,
    "y": 173
    },
    {
    "x": 8,
    "y": 173
    }
    ]
    },
    "confidence": 0.98376536,
    "words": [
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 8,
    "y": 162
    },
    {
    "x": 48,
    "y": 162
    },
    {
    "x": 48,
    "y": 173
    },
    {
    "x": 8,
    "y": 173
    }
    ]
    },
    "confidence": 0.9812189,
    "property": {
    "detectedLanguages": [
    {
    "confidence": 1,
    "languageCode": "en"
    }
    ]
    },
    "symbols": [
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 8,
    "y": 162
    },
    {
    "x": 15,
    "y": 162
    },
    {
    "x": 15,
    "y": 173
    },
    {
    "x": 8,
    "y": 173
    }
    ]
    },
    "confidence": 0.98789334,
    "text": "R"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 14,
    "y": 162
    },
    {
    "x": 20,
    "y": 162
    },
    {
    "x": 20,
    "y": 173
    },
    {
    "x": 14,
    "y": 173
    }
    ]
    },
    "confidence": 0.9901631,
    "text": "e"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 21,
    "y": 162
    },
    {
    "x": 26,
    "y": 162
    },
    {
    "x": 26,
    "y": 173
    },
    {
    "x": 21,
    "y": 173
    }
    ]
    },
    "confidence": 0.9873873,
    "text": "c"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 26,
    "y": 162
    },
    {
    "x": 33,
    "y": 162
    },
    {
    "x": 33,
    "y": 173
    },
    {
    "x": 26,
    "y": 173
    }
    ]
    },
    "confidence": 0.9726509,
    "text": "y"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 33,
    "y": 162
    },
    {
    "x": 38,
    "y": 162
    },
    {
    "x": 38,
    "y": 173
    },
    {
    "x": 33,
    "y": 173
    }
    ]
    },
    "confidence": 0.96022093,
    "text": "c"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 39,
    "y": 162
    },
    {
    "x": 42,
    "y": 162
    },
    {
    "x": 42,
    "y": 173
    },
    {
    "x": 39,
    "y": 173
    }
    ]
    },
    "confidence": 0.9806596,
    "text": "l"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 42,
    "y": 162
    },
    {
    "x": 48,
    "y": 162
    },
    {
    "x": 48,
    "y": 173
    },
    {
    "x": 42,
    "y": 173
    }
    ]
    },
    "confidence": 0.9895571,
    "property": {
    "detectedBreak": {
    "type": "SPACE"
    }
    },
    "text": "e"
    }
    ]
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 51,
    "y": 162
    },
    {
    "x": 67,
    "y": 162
    },
    {
    "x": 67,
    "y": 173
    },
    {
    "x": 51,
    "y": 173
    }
    ]
    },
    "confidence": 0.98970705,
    "property": {
    "detectedLanguages": [
    {
    "confidence": 1,
    "languageCode": "en"
    }
    ]
    },
    "symbols": [
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 51,
    "y": 162
    },
    {
    "x": 57,
    "y": 162
    },
    {
    "x": 57,
    "y": 173
    },
    {
    "x": 51,
    "y": 173
    }
    ]
    },
    "confidence": 0.9847606,
    "text": "B"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 58,
    "y": 162
    },
    {
    "x": 60,
    "y": 162
    },
    {
    "x": 60,
    "y": 173
    },
    {
    "x": 58,
    "y": 173
    }
    ]
    },
    "confidence": 0.99168473,
    "text": "i"
    },
    {
    "boundingBox": {
    "vertices": [
    {
    "x": 61,
    "y": 162
    },
    {
    "x": 67,
    "y": 162
    },
    {
    "x": 67,
    "y": 173
    },
    {
    "x": 61,
    "y": 173
    }
    ]
    },
    "confidence": 0.9926758,
    "property": {
    "detectedBreak": {
    "type": "LINE_BREAK"
    }
    },
    "text": "n"
    }
    ]
    }
    ]
    }
    ]
    }
    ],
    "confidence": 0.97424227,
    "height": 1042,
    "property": {
    "detectedLanguages": [
    {
    "confidence": 1,
    "languageCode": "en"
    }
    ]
    },
    "width": 1920
    }
    ],
    "text": "This PC-\nShortcut\nRecycle Bin"
    },
    "imagePropertiesAnnotation": {
    "cropHints": [
    {
    "boundingPoly": {
    "vertices": [
    {
    "x": 864
    },
    {
    "x": 1697
    },
    {
    "x": 1697,
    "y": 1041
    },
    {
    "x": 864,
    "y": 1041
    }
    ]
    },
    "confidence": 0.09375,
    "importanceFraction": 0.6946667
    },
    {
    "boundingPoly": {
    "vertices": [
    {
    "x": 768
    },
    {
    "x": 1810
    },
    {
    "x": 1810,
    "y": 1041
    },
    {
    "x": 768,
    "y": 1041
    }
    ]
    },
    "confidence": 0.09375,
    "importanceFraction": 0.8683333
    },
    {
    "boundingPoly": {
    "vertices": [
    {
    "x": 669
    },
    {
    "x": 1919
    },
    {
    "x": 1919,
    "y": 1041
    },
    {
    "x": 669,
    "y": 1041
    }
    ]
    },
    "confidence": 0.08997121,
    "importanceFraction": 1
    }
    ],
    "dominantColors": {
    "colors": [
    {
    "color": {},
    "percent": 99.99999999088595,
    "percentRounded": 100,
    "pixelFraction": 0.9979424,
    "score": 1
    },
    {
    "color": {
    "blue": 131,
    "green": 126,
    "red": 119
    },
    "hex": "777E83",
    "percent": 2.5519365997674154e-9,
    "percentRounded": 0,
    "pixelFraction": 0.0005761317,
    "rgb": "119, 126,\n 131",
    "score": 2.5519366e-11
    },
    {
    "color": {
    "blue": 51,
    "green": 48,
    "red": 44
    },
    "hex": "2C3033",
    "percent": 3.6456236996677364e-9,
    "percentRounded": 0,
    "pixelFraction": 0.00082304527,
    "rgb": "44, 48,\n 51",
    "score": 3.6456237e-11
    },
    {
    "color": {
    "blue": 151,
    "green": 147,
    "red": 142
    },
    "hex": "8E9397",
    "percent": 1.8228118998338682e-9,
    "percentRounded": 0,
    "pixelFraction": 0.00041152263,
    "rgb": "142, 147,\n 151",
    "score": 1.8228119e-11
    },
    {
    "color": {
    "blue": 86,
    "green": 77,
    "red": 67
    },
    "hex": "434D56",
    "percent": 7.291247499335471e-10,
    "percentRounded": 0,
    "pixelFraction": 0.00016460905,
    "rgb": "67, 77,\n 86",
    "score": 7.2912475e-12
    },
    {
    "color": {
    "blue": 189,
    "green": 180,
    "red": 170
    },
    "hex": "AAB4BD",
    "percent": 3.6456236996677354e-10,
    "percentRounded": 0,
    "pixelFraction": 0.00008230453,
    "rgb": "170, 180,\n 189",
    "score": 3.6456237e-12
    }
    ]
    }
    },
    "labelAnnotations": [
    {
    "description": "Brown",
    "mid": "/m/09q2t",
    "score": 0.98046786,
    "topicality": 0.98046786
    },
    {
    "description": "Grey",
    "mid": "/m/036k5h",
    "score": 0.84035313,
    "topicality": 0.84035313
    },
    {
    "description": "Wood",
    "mid": "/m/083vt",
    "score": 0.80792946,
    "topicality": 0.80792946
    },
    {
    "description": "Space",
    "mid": "/m/06wqb",
    "score": 0.7134783,
    "topicality": 0.7134783
    },
    {
    "description": "Flooring",
    "mid": "/m/01c34b",
    "score": 0.70000595,
    "topicality": 0.70000595
    },
    {
    "description": "Twig",
    "mid": "/m/016nqt",
    "score": 0.69331145,
    "topicality": 0.69331145
    },
    {
    "description": "Pattern",
    "mid": "/m/0hwky",
    "score": 0.6881926,
    "topicality": 0.6881926
    },
    {
    "description": "Font",
    "mid": "/m/03gq5hm",
    "score": 0.68472546,
    "topicality": 0.68472546
    },
    {
    "description": "Hardwood",
    "mid": "/m/020g49",
    "score": 0.68336535,
    "topicality": 0.68336535
    },
    {
    "description": "Trunk",
    "mid": "/m/02tcwp",
    "score": 0.6625603,
    "topicality": 0.6625603
    },
    {
    "description": "Midnight",
    "mid": "/m/01kv7h",
    "score": 0.65652764,
    "topicality": 0.65652764
    },
    {
    "description": "Darkness",
    "mid": "/m/01kyr8",
    "score": 0.6489675,
    "topicality": 0.6489675
    },
    {
    "description": "Fur",
    "mid": "/m/0cnmr",
    "score": 0.62822133,
    "topicality": 0.62822133
    },
    {
    "description": "Forest",
    "mid": "/m/02zr8",
    "score": 0.6262793,
    "topicality": 0.6262793
    },
    {
    "description": "Soil",
    "mid": "/m/09dv7",
    "score": 0.62535435,
    "topicality": 0.62535435
    },
    {
    "description": "Grass",
    "mid": "/m/08t9c_",
    "score": 0.60069394,
    "topicality": 0.60069394
    },
    {
    "description": "Circle",
    "mid": "/m/01vkl",
    "score": 0.59783405,
    "topicality": 0.59783405
    },
    {
    "description": "Monochrome photography",
    "mid": "/m/03d49p1",
    "score": 0.5403675,
    "topicality": 0.5403675
    },
    {
    "description": "Wood flooring",
    "mid": "/m/027xhm0",
    "score": 0.53915715,
    "topicality": 0.53915715
    },
    {
    "description": "Landscape",
    "mid": "/m/025s3q0",
    "score": 0.5284938,
    "topicality": 0.5284938
    },
    {
    "description": "Jungle",
    "mid": "/m/01y3fy",
    "score": 0.5148332,
    "topicality": 0.5148332
    },
    {
    "description": "Night",
    "mid": "/m/01d74z",
    "score": 0.5101009,
    "topicality": 0.5101009
    },
    {
    "description": "Monochrome",
    "mid": "/m/01mwkf",
    "score": 0.5051949,
    "topicality": 0.5051949
    }
    ],
    "safeSearchAnnotation": {
    "adult": "VERY_UNLIKELY",
    "medical": "UNLIKELY",
    "racy": "VERY_UNLIKELY",
    "spoof": "VERY_UNLIKELY",
    "violence": "UNLIKELY"
    },
    "textAnnotations": [
    {
    "boundingPoly": {
    "vertices": [
    {
    "x": 8,
    "y": 60
    },
    {
    "x": 67,
    "y": 60
    },
    {
    "x": 67,
    "y": 173
    },
    {
    "x": 8,
    "y": 173
    }
    ]
    },
    "description": "This PC-\nShortcut\nRecycle Bin",
    "locale": "en"
    },
    {
    "boundingPoly": {
    "vertices": [
    {
    "x": 14,
    "y": 60
    },
    {
    "x": 34,
    "y": 60
    },
    {
    "x": 34,
    "y": 69
    },
    {
    "x": 14,
    "y": 69
    }
    ]
    },
    "description": "This"
    },
    {
    "boundingPoly": {
    "vertices": [
    {
    "x": 36,
    "y": 60
    },
    {
    "x": 52,
    "y": 60
    },
    {
    "x": 52,
    "y": 68
    },
    {
    "x": 36,
    "y": 68
    }
    ]
    },
    "description": "PC"
    },
    {
    "boundingPoly": {
    "vertices": [
    {
    "x": 14,
    "y": 75
    },
    {
    "x": 59,
    "y": 75
    },
    {
    "x": 59,
    "y": 85
    },
    {
    "x": 14,
    "y": 85
    }
    ]
    },
    "description": "Shortcut"
    },
    {
    "boundingPoly": {
    "vertices": [
    {
    "x": 8,
    "y": 162
    },
    {
    "x": 48,
    "y": 162
    },
    {
    "x": 48,
    "y": 173
    },
    {
    "x": 8,
    "y": 173
    }
    ]
    },
    "description": "Recycle"
    },
    {
    "boundingPoly": {
    "vertices": [
    {
    "x": 51,
    "y": 162
    },
    {
    "x": 67,
    "y": 162
    },
    {
    "x": 67,
    "y": 173
    },
    {
    "x": 51,
    "y": 173
    }
    ]
    },
    "description": "Bin"
    }
    ]
    }</P>
</body>
</html>